/* citizen agenda @ oxys 2011
 ------------------------------------------------------------------------ */ 

/* SASS mixins
 ------------------------------------------------------------------------ */

$TitilliumText25L400wt: "TitilliumText25L400wt";
$TitilliumText25L800wt: "TitilliumText25L800wt";
$TitilliumMaps29L400wt: "TitilliumMaps29L400wt";
$TitilliumMaps29L800wt: "TitilliumMaps29L800wt";
$TitilliumText25L999wt: "TitilliumText25L999wt";
$TitilliumText25L250wt: 'TitilliumText25L250wt';

$Helvetica: "Helvetica", Arial, serif;



@mixin gradient($c1,$c2) {
  /* others browsers */
  background-color: $c2;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($c2), to($c1));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, $c1, $c2);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, $c1, $c2);
  /* IE 10 */
  background: -ms-linear-gradient(top, $c1, $c2);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, $c1, $c2);
}

@mixin rounded($r) {
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
}


$lightgray: #efefef;
$darkgray: #969696;
$green: #209700;
$red: #af0000;

$link: #2537b6;

$shadow_in: #d5d4ce;
$shadow_out: #e3e2e0;

$default: #333333;

/* generic
 ------------------------------------------------------------------------ */

ul { list-style: none; margin:0px; padding:0px;}
a, a:visited, a:hover {color:$link; text-decoration: none;}

.admin_flag {
  display: block;
  background-image: url(../img/admin_flag.png);
  width: 44px;
  height: 11px;
  color:#fff;
  text-transform: uppercase;
  font-family: "Verdana", Arial, serif;
  font-size: 71%;
  text-align:right;
  font-weight: bold;
  padding: 1px 5px 0 0;
}


/* Structure
 ------------------------------------------------------------------------ */

body {
  background-color: #2c2c2c;
  font-family: $TitilliumText25L400wt;
  font-size: 14px;
}

#container {
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 36px;
  width: 100%;
  text-align: right;
  @include gradient(#333,#2a2a2a);
  border-bottom: 1px solid #010101;
  min-width: 775px;
  
  p {
    color: $red;
    padding:0px;
    margin:5px 11px 0 0;
    line-height: 15px;
    font-family: $TitilliumText25L999wt;
    font-size: 108%;
    text-transform: uppercase;
    font-weight: 900;
    &.agenda {font-family: $TitilliumMaps29L400wt; font-size: 100%; margin-top: -1px;line-height: 14px;}
  }
}

#left_col {
  position: absolute;
  top:37px;
  left: 0px;
  bottom:0px;
  width: 60px;
  border-top: 1px solid #333;
}

#search_form {
  position: absolute;
  top: 37px;
  left: 60px;
  height: 32px;
  width: 315px;
  padding: 0px 0px;
  border-bottom: 1px solid $darkgray;
  @include gradient(#dbdbdb,#bdbdbd);
  
  /* form */
 form {
    text-align: center;
    button {background: none; position: absolute; top: 9px; left:18px; border: 0px; width: 18px; height: 13px; background-image: url(../img/loupe.png);}
    input{
      padding: 0 30px;
      margin-top: 5px;
      @include rounded(10px);
      border: 1px solid $darkgray;
      height: 20px;
      width: 200px;
      font-family: $Helvetica;
      font-size: 85%;
      font-weight: none;
      color: #7f7f7f;
    }
    a {
      background-color: #cfcfcf;
      background-image: url(../img/add_search.jpg);
      float: right;
      width: 33px;
      height: 32px;
      border: 0px;
      border-left: 1px solid $darkgray;
      text-indent: 9999px;
      overflow: hidden;
    }
 } 
}

#list {
  font-family: $Helvetica;
  font-size: 85%;
  position: absolute;
  top: 70px;
  left: 60px;
  bottom: 0px;
  width: 315px;
  background-color: $lightgray;
  overflow-y:scroll;
  overflow-x:hidden;

  ul {
    li {
      position: relative;
      width: 260px;
      padding: 9px 20px 7px 20px;
      vertical-align: middle;
      border-bottom: 1px solid #e4e4e4;
      p {margin: 0px}
      .title {font-weight: bold; margin: 0px 0 4px 0;}
      .admin_flag {position: absolute;right: 0; top: 3px;}
    }
   }
}

#content {
  position: absolute;
  top: 37px;
  left: 375px;
  bottom: 0px;
  right: 0px;
  min-width: 400px;
  background-image: url(../img/bg.jpg);
  overflow: auto;
  
  
  /* header box */
  #header_content {
    background-image: url(../img/line_content.jpg);
    background-repeat: repeat-x;
    padding: 0px 50px;
   }
   
  
  /*content user */
 .box {
    margin: 0 0 50px 50px;
    width: 300px;
    float: left;
    
    h1 {
      margin-bottom: 9px;
      text-transform: uppercase;
      font-size: 125%;
      .add {text-indent:9999px; overflow: hidden; margin-top: 2px;float: right; display: block; width: 16px; height: 16px; background-image: url(../img/add_box.png); background-position: 50% 50%; background-repeat: no-repeat;}
    }
    
    h1.settings, h1.actions {font-size: 100%;}
    ul.settings, ul.actions {
      margin:0px;
      padding:0px;
      li {padding-left: 15px; background-image: url(../img/crow_red.png); background-repeat: no-repeat; background-position: 0px 3px; margin-bottom: 10px;}
    }
    .box_shadow {
      -moz-box-shadow-top: 4px 4px 2px $shadow_out;
      -webkit-box-shadow-top: 4px 4px 2px $shadow_out;
      box-shadow: 4px 4px 2px $shadow_out;
        
      ul, article {
        border: 1px solid #cecdca;
        -moz-box-shadow-top:inset 2px 2px 3px $shadow_in;
        -webkit-box-shadow-top:inset 2px 2px 3px $shadow_in;
        box-shadow:inset 2px 2px 3px $shadow_in;
        /* Fallback for web browsers that doesn't support RGBa */
        background: rgb(228, 226, 223) transparent;
        /* RGBa with 0.6 opacity */
        background: rgba(150, 150, 150, 0.1);
        /* For IE 5.5 - 7*/
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dbd8d4, endColorstr=#dbd8d4);
        /* For IE 8*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dbd8d4, endColorstr=#dbd8d4)";
        padding: 5px 0px;
      }
      
      article {padding: 5px 10px;}
      
      ul li {
        padding: 5px 10px;
        span.validate {float: right; color: $green;font-weight: 600;}
        span.invalidate, span.remove {float:right; color: #5c5c5c;}
      }
      .separated li {border-bottom: 1px solid #cecdca;}
      .separated li:last-child {border-bottom: 0px;}
      ul.stats {span {font-weight: 600;}}
    }
  }
  
 /* for article width 100% */
  #article_content {margin: 0px 50px; height: 80%; min-width: 480px;}
  
  #infos {margin: 0px;}
 /* for box action float right */
  #actions {float: right; width: auto;}

  #sample {
    width: 100%;
    margin:0px;
    .subtitle {display: block; font-size: 125%;}
    .title {display: block; font-size: 174%; font-weight: 600;}
  }
}


/* header for profile */
.profile #header_content {
  height: 208px;
  background-position: 0px 126px;
  
  #avatar {
    float: left;
    position: relative;
    width: 160px;
    height: 160px;
    img {
      position:absolute;
      top:0px;
      left:0px;
    }
    #picture {
      top: 5px;
      left: 5px;
    }
  }
  img {
    text-align: center;
    margin-top: 35px;
  }
  .admin_flag {position: absolute;right: 10px; top: 52px; font-size: 60%;}
  #user {
    float: left;
    margin: 50px 0 0 20px;
    p {margin: 0px;}
    #name {font-family:$TitilliumMaps29L800wt; font-size: 254%;}
    #mail {font-family:$TitilliumMaps29L400wt; font-size: 131%;}
    #account {font-family:$TitilliumText25L250wt; margin-top: 30px; font-weight: 400;}
  }
}

/* header for event */
.event #header_content {
  height: 98px;
  background-position: 0px 49px;
  
  h1 {margin: 27px 0 0 0;padding: 0px; font-family:$TitilliumMaps29L800wt; font-size: 254%;}
}
